@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
*,
html {
  scroll-behavior: smooth !important;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.contentt {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0, 1, 0, 1);
}

.contentt.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.8s cubic-bezier(1, 0, 1, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

.primary-btn {
  @apply bg-[#00ED85] px-8 py-3 rounded-md;
}

.secondary-btn {
  @apply border border-[#00ED85] text-[#006D3A] px-8 py-3 rounded-md;
}

.bg-transparent {
  background: transparent;
}

@layer utilities {
  .clip-path {
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
}
